In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
import re
from dotenv import load_dotenv
load_dotenv()
import os

In [2]:
db_connection_str = os.getenv("DB_CONNECTION_STR")

db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM crash_db_Somerville', con=db_connection)
df = df.replace('',np.nan)

In [3]:
df2 = pd.DataFrame()
df.head(10)

,cid,createDate,createBy,dataFrom,Date,Time,Location,City,State,Weather,...,column_80,column_81,column_82,column_83,column_84,column_85,column_86,column_87,column_88,column_89
0,1000000001,2020-01-27 08:59:17,David,Somerville,01/02/2010,22:21,BROADWAY & GARFIELD AVENUE,Somerville,MA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000000002,2020-01-27 08:59:17,David,Somerville,01/03/2010,14:45,BROADWAY & FENWICK STREET,Somerville,MA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000000003,2020-01-27 08:59:17,David,Somerville,01/05/2010,11:24,POWDER HOUSE SQUARE & BROADWAY,Somerville,MA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000000004,2020-01-27 08:59:17,David,Somerville,01/06/2010,16:10,BOW STREET & WARREN AVENUE,Somerville,MA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000000005,2020-01-27 08:59:17,David,Somerville,01/06/2010,16:19,HIGHLAND AVENUE & TOWER STREET,Somerville,MA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1000000006,2020-01-27 08:59:17,David,Somerville,01/07/2010,5:00,WASHINGTON STREET & BEACON STREET,Somerville,MA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1000000007,2020-01-27 08:59:17,David,Somerville,01/07/2010,8:40,308 MCGRATH HIGHWAY,Somerville,MA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1000000008,2020-01-27 08:59:17,David,Somerville,01/07/2010,17:37,HOLLAND STREET & CAMERON AVENUE,Somerville,MA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1000000009,2020-01-27 08:59:17,David,Somerville,01/07/2010,7:27,1360 BROADWAY,Somerville,MA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1000000010,2020-01-27 08:59:17,David,Somerville,01/07/2010,17:27,COLLEGE AVENUE & CHAPEL STREET & HALL AVENUE,Somerville,MA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(4059, 91)

In [5]:
df.columns

Index(['cid', 'createDate', 'createBy', 'dataFrom', 'Date', 'Time', 'Location',
       'City', 'State', 'Weather', 'Road_Surface', 'Traffic_Control_Device',
       'Intersection_Type', 'Traffic_Way_Desc', 'Collision_Manner',
       'Num_of_Involved_Vehicles', 'Vehicle1_Configuration',
       'Driver1_Contrib_Code1', 'Driver1_Contrib_Code2',
       'Vehicle2_Configuration', 'Driver2_Contrib_Code1',
       'Driver2_Contrib_Code2', 'Vehicle3_Configuration',
       'Driver3_Contrib_Code1', 'Driver3_Contrib_Code2',
       'Vehicle4_Configuration', 'Driver4_Contrib_Code1',
       'Driver4_Contrib_Code2', 'Vehicle5_Configuration',
       'Driver5_Contrib_Code1', 'Driver5_Contrib_Code2',
       'Vehicle6_Configuration', 'Driver6_Contrib_Code1',
       'Driver6_Contrib_Code2', 'Vehicle7_Configuration',
       'Driver7_Contrib_Code2', 'Bicycle', 'Pedestrian', 'Non_MV',
       'Non_Motorist_Location', 'Non_Motorist_Action', 'Non_Motorist_Type',
       'Manner_of_Non_Motorist_Collision', 'Injury', 'Multiple', 'Gender1',
       'Age1', 'Severity1', 'Hospital1', 'Gender2', 'Severity2', 'Hospital2',
       'Gender3', 'Age3', 'Severity3', 'Hospital3', 'Gender4', 'Age4',
       'Severity4', 'Hospital4', 'Gender5', 'Age5', 'Severity5', 'Hospital5',
       'City_Vehicle', 'Notes', 'column_65', 'column_66', 'column_67',
       'column_68', 'column_69', 'column_70', 'column_71', 'column_72',
       'column_73', 'column_74', 'column_75', 'column_76', 'column_77',
       'column_78', 'column_79', 'column_80', 'column_81', 'column_82',
       'column_83', 'column_84', 'column_85', 'column_86', 'column_87',
       'column_88', 'column_89'],
      dtype='object')

In [6]:
df2['city'] = df['dataFrom']

df2['cid'] = df['cid']

df2['injured_count'] = df['Injury']

In [7]:
df2['crash_time'] = pd.to_datetime(df['Date'])
df2['crash_date'] = pd.to_datetime(df2['crash_time'].dt.date)

In [8]:
df2.injured_count = df2.injured_count.fillna('0')

df2.injured_count = df2.injured_count.astype('str').astype('int')

In [9]:
df2['longitude'] = 0
df2['latitude'] = 0

In [10]:
df2['street_name'] = df['Location']

In [11]:
df2.head()

,city,cid,injured_count,crash_time,crash_date,longitude,latitude,street_name
0,Somerville,1000000001,0,2010-01-02,2010-01-02,0,0,BROADWAY & GARFIELD AVENUE
1,Somerville,1000000002,0,2010-01-03,2010-01-03,0,0,BROADWAY & FENWICK STREET
2,Somerville,1000000003,0,2010-01-05,2010-01-05,0,0,POWDER HOUSE SQUARE & BROADWAY
3,Somerville,1000000004,0,2010-01-06,2010-01-06,0,0,BOW STREET & WARREN AVENUE
4,Somerville,1000000005,0,2010-01-06,2010-01-06,0,0,HIGHLAND AVENUE & TOWER STREET

In [12]:
df2.to_sql('cleaned_crash_Somerville',con = db_connection, if_exists="replace",index=False)

df2.to_sql('home_allcleanedcrashdata',con = db_connection, if_exists="append",index=False)